h1{
  text-align: center;
  font-size: 2em;
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url("http://macprovid.vo.llnwd.net/o43/hub/media/1079/6836/cp_545_Figure_2_-_Step_1.jpg");
  background-repeat: repeat;
}

.slideshow {
  background-color: var(--bg);
  padding: 0em;
}

.slideshow-wrapper {
  position: relative; /*-- this allows children to be position absolutely --*/
  margin: auto; /*-- simple centering method--*/
  margin-top: 2em; /*-- adds space above--*/
  max-width: 1440px; /*-- contrains slideshow on largest screens --*/
}
.slideshow-wrapper img {
  width: 100%; /*-- makes slideshow responsive in size --*/
}
.prev, .next {
  cursor: pointer; /*-- changes hover cursor to the hand --*/
  position: absolute; /*-- positions arrows absolutely--*/
  top: 50%; /*-- positions arrows half the height of parent from top --*/
  width: auto; /*-- matches width of parent --*/
  padding: 16px; /*-- adds a little bit of space--*/
  margin-top: -22px; /*-- adjusts position by height of arrows --*/
  color: white; /*-- sets color for contrast --*/
  font-weight: bold; /*-- selects heavier font --*/
  font-size: 18px; /*-- sets arrow font size --*/
  transition: 0.6s ease; /*-- sets transition speed for arrow hover--*/
  border-radius: 0 3px 3px 0; /*-- slightly rounds inside borders --*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; /*-- prevents users from selecting buttons --*/
}
.next {
  right: 0; /*-- positions next arrow hard right --*/
  border-radius: 3px 0 0 3px; /*-- rounds the outside borders --*/
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); /*-- gives a background for contrast on hover --*/
}

.indicator {
  cursor:pointer; /*-- changes hover cursor to the hand --*/
  height: auto; /*-- sets height of pics --*/
  width: 24%; /*-- sets width of pics --*/
  margin: 0 2px; /*-- adds margin between pics --*/
  background-color: #bbb; /*-- sets background color to light gray --*/
  display: inline-block; /*-- displays in a horizontal line --*/
  transition: all 250ms ease-in-out; /*-- allows opacity change to take time --*/
  opacity: .5;
}
.indicator img {
  width: 100% !important; /*-- small images fill available space --*/
}
.active, .indicator:hover {
  opacity: 1; /*-- makes fully visible when hovered  --*/
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade; /*-- webkit prefix  --*/
  -webkit-animation-duration: 1.5s; /*-- webkit prefix --*/
  animation-name: fade; /*-- defines which animation to use --*/
  animation-duration: 1.5s; /*-- sets the duration --*/
}
@-webkit-keyframes fade { /*-- webkit prefix --*/
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade { /*-- sets "fade" animation properties --*/
  from {opacity: .4} /*-- sets start of animation --*/
  to {opacity: 1} /*-- sets end of animation --*/
}
/* On smaller screens, hides slideshow */
@media only screen and (max-width: 767px) {
  .slideshow {display: none;}
}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 9px;
  justify-content:center;
  margin-bottom: 2em;

}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 8px;
  margin: 2em;
  justify-content: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}




.grid-container3 {
  border: 1px solid black;
  padding: 0em;
  display: grid;
  grid-gap: 0em 0em;
  margin: 4em;
  justify-content: center;
  grid-template-columns: repeat(3, 0.5fr);
}


.grid-item3 {
  height: auto;
  padding: 0em;
  border: 1px solid black;
  background-color:black;
  justify-content:;
}

.grid-container3 {
  grid-template-areas:
                      "one3 two3 three3";

}
.one3 {
  grid-area: one3;
}
.two3 {
  grid-area: two3;
}
.three3 {
  grid-area: three3;
